<h2>{{ title }}</h2>

<div class="commands">
    <button (click)="onSaveClick($event)" [disabled]="!isDirty">
        Save
    </button>
</div>

<h3>{{ sourceListTitle }}</h3>
<h3>{{ destinationListTitle }}</h3>

<ng-container cdkDropListGroup>

    <div id="source-list-container" class="list-container" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="sourceList">  
        <app-dual-list-picker-header [columnDefs]="columnDefs"></app-dual-list-picker-header>               
        <app-dual-list-picker-row cdkDrag *ngFor="let i of sourceList" [data]="i" [columnDefs]="columnDefs">            
        </app-dual-list-picker-row>
    </div>


    <div id="destination-list-container" class="list-container" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="destinationList">        
        <app-dual-list-picker-header [columnDefs]="columnDefs"></app-dual-list-picker-header>         
        <app-dual-list-picker-row cdkDrag *ngFor="let i of destinationList" [data]="i" [columnDefs]="columnDefs">            
        </app-dual-list-picker-row>
    </div>
    
</ng-container>


